<h1>Create New Message</h1>
<% unless @message.errors.empty? %>
		<div class="alert alert-danger">
			<%= @message.errors.full_messages.to_sentence %>
		</div>
<% end %>

<%= form_for @message do |f| %>

	<div class="form-group">
		<%= f.hidden_field :sender_id, :value => current_user.id%>
	</div>

	<div class="form-group">
		<%= f.hidden_field :recipient_id, :value => User.find(params[:format]).id if params[:format]%>
	</div>


	<div>
		<%= 'Select receiver' %>
		<div class="dropdown open">
		  <a class="btn btn-secondary dropdown-toggle" href="" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    <%= User.find(params[:format]).email if params[:format]%>
		    <%= 'Select receiver' if !params[:format]%>
		  </a>
		  
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
		  <% @users.each do |user| if !params[:format]%>
		    <a class="dropdown-item" href='<%= new_message_path(user.id)  %>'><%= user.email %></a>
		   <% end %>
		   <% end %>
		  </div>
		</div>
	</div>



	<div class="form-group">
		<%= f.label :title %>
		<%= f.text_field :title, placeholder: 'Enter message\'s title', class: 'form-control'%>
	</div>
	<div class="form-group">
		<%= f.label :body %>
		<%= f.text_field :body, placeholder: 'Enter message\'s content', class: 'form-control'%>
	</div>

	<%= f.submit 'Send',  class: 'btn btn-secondary' %>
<% end %>