<h1>Current Inbox</h1>

<div>
	<%= link_to 'New Message', new_message_path, class: 'btn btn-secondary'%>
	<%= link_to 'Add Friend', root_path, class: 'btn btn-secondary'%>
	<%= link_to 'Received Messages', messages_path, class: 'btn btn-secondary'%>
</div>
<table class="table">
	<thead class="thead thead-default">
		<tr>
				<th>To</th>
				<th>Title</th>
				<th>SentTime</th>
				<th>IsRead</th>
		</tr>
		</thead>
	<tbody>
		<% @messages.each do |message| %>
			<tr>
				<td><%= User.find(message.recipient_id).email %></td>
				<td><%= message.title %></td>
				<td><%= time_ago_in_words message.created_at  %></td>
				<td><%= is_messaged_read(message) %></td
			</tr>
		<% end %>
	</tbody>
</table>